/* index.css */

/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente y fondo global */
body {
  font-family: Arial, sans-serif;
  background-color: #e4e4e4;
}
